<h1>Terms and Conditions of WellQ app</h1>
<p class="last-updated">Last updated: 12/26/2025</p>

<p>
    Please read these Terms carefully before using the Smexapp application.
</p>

<h2>1. Accounts</h2>
<p>
    You must be at least 13 years old and provide accurate information.
</p>

<h2>2. Medical Disclaimer</h2>
<p>
    The Service is for educational purposes only and not medical advice.
</p>

<h2>3. Intellectual Property</h2>
<p>
    All content belongs to SmEx.
</p>

<h2>4. Termination</h2>
<p>
    We may terminate accounts without notice if Terms are violated.
</p>

<h2>5. Limitation of Liability</h2>
<p>
    SmEx shall not be liable for indirect or consequential damages.
</p>

<h2>6. Governing Law</h2>
<p>
    These Terms are governed by US law.
</p>

<h2>7. Changes</h2>
<p>
    We may modify these Terms at any time.
</p>

<h2>8. Subscriptions</h2>
<p>
    WellQ offers auto-renewable subscription plans.

    Payment will be charged to your Apple ID/Google account at confirmation of purchase. Subscriptions automatically
    renew unless auto-renew is turned off at least 24 hours before the end of the current subscription period.

    Your account will be charged for renewal within 24 hours prior to the end of the current period, at the price of the
    selected plan.

    You can manage and cancel your subscriptions by going to your App Store / Google PlayStore account settings after
    purchase.

    Any unused portion of a free trial period, if offered, will be forfeited when you purchase a subscription.
</p>

<h2>9. Contact</h2>
<ul>
    <li>Email: noreply.smex@gmail.com</li>
    <li>
        Website:
        <a href="https://wellq.smexapp.com/contact-form">
            https://wellq.smexapp.com/contact-form
        </a>
    </li>
</ul>